:root {
  --dark-900: #111319;
  --dark-800: #161b22;

  --blue-400: #0A3069;
  --blue-300: #0969DA;
  --blue-200: #54AEFF;
  --blue-100: #B6E3FF;

  --green-400: #0e4429;
  --green-300: #006d32;
  --green-200: #26a641;
  --green-100: #39d353;

  --divider: #8b949e;
  
  --gray-600: #3a3b3b;
  --gray-400: #576270;
  --gray-200: #717c8a;

  --red-400: #eb3342;
  --red-200: #ff7b72;

  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 93.75%;
  color: var(--white);
}

body {
  background-color: var(--dark-800);
}

button {
  cursor: pointer;
}

