:root {
  --dark-900: #111319;
  --dark-800: #161b22;

  --blue-500: #0a3069;
  --blue-400: #0969da;
  --blue-300: #3ebdeb;
  --blue-200: #63cefc;
  --blue-100: #b6e3ff;

  --green-500: #0e4429;
  --green-400: #006d32;
  --green-300: #26a641;
  --green-200: #0dd38a;
  --green-100: #39d353;

  --divider: #c8cbcf;

  --gray-600: #3a3b3b;
  --gray-400: #576270;
  --gray-300: #757f8b;
  --gray-200: #717c8a;
  --gray-100: #d3d8de;

  --red-400: #eb3342;
  --red-200: #ff7b72;
  --red-100: #ff6c64;

  --white: #fff;
  --white-100: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 93.75%;
  color: var(--white);
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
